*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body{
    color: #565C7E;
}

#head{
    background-color: #565C7E;
    color: white;
    font-style: bold;
}




/* <!-- navbar --> */
hr{
    margin: 0 auto;
    width: 40%;
    height:5%;
    background-color: #565C7E;
}



#braa{
    font-size:300%;
    font-family: 'Sacramento', cursive;
    /* font-family: 'Allura', cursive; */
    /* font-family: 'Parisienne', cursive; */
    /* font-family: 'Abril Fatface', cursive; */
/* font-family: 'Allura', cursive; */
/* font-family: 'Berkshire Swash', cursive; */
/* font-family: 'Carter One', cursive; */
/* font-family: 'Courgette', cursive; */
/* font-family: 'Damion', cursive; */
/* font-family: 'Dancing Script', curs/ive; */
/* font-family: 'Lobster', cursive; */
/* font-family: 'Oleo Script', cursive; */
/* font-family: 'Parisienne', cursive; */
/* font-family: 'Sacramento', cursive; */
/* font-family: 'Yeseva One', cursive; */

}

/* تغيير وزن خطوط الناف بار  */


#show{
    background-color:#F4F4F4;
    /* color: #565C7E; */
}
#job{
    color: #656a82;
}

#calaction{
   background-color: #f8abbe;
   color: #565C7E;
   font-weight: 700;
}

.ta3llem3{
    margin: -2% auto;
    display: grid;
    background-color: white;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(4,1fr);
    width: 80%;
    box-shadow: 0px 2px 20px 5px rgba(0, 0, 0,0.19);
}

.histo1{font-size: x-large;}
.histo2{font-size: x-large;}
.his{font-size:large;}

.headedu{
    grid-column: 1/8;
    grid-row: 1/2;
    /* background-color: #656a82; */
    text-align: center;
    font-size:300%;
    font-weight: 700;
}
.ehi{
    margin: 0 auto;
    
}

.orange{
    grid-column: 1/2;
    grid-row: 2/2; 
}

.histo1{
    grid-column: 2/5;
    grid-row: 2/2;
}



.univers{
   margin-top: -25%;
    grid-column: 1/2;
    grid-row: 4/4;
}

.histo2{
   margin-top: -10%;
    grid-column:2/5;
    grid-row: 4/4;
}
.hat{
    grid-column: 5/8;
    grid-row: 2/5;
    justify-content: center;
    align-items: center;
}





#proback{
    background-color: #565C7E;
    height: 40vh;
    margin-top: -30vmin;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.2),0 6px 20px 0 rgba(0, 0, 0,0.19)
}

.formore{
    background-color: #565C7E;
}

.expert{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 8%;
}

.expert > article{
    background-color:#565C7E;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0,0.3);
    border-radius: 20px;
    text-align: center;
}
.expert > article img{
    width: 40%;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    padding: 4%;
    shape-outside: border-box;
    border-radius: 50%;
    } 


.nas{
    color: white;
    padding: 6%;
}


.nas button{
    background-color:white;
    color: #de7a93;
    font-weight: 900;
    border-radius: 20px;
    padding: 2%;
    padding-right: 20%;
    padding-left: 20%;
} 


.contac{
    margin-top: -2% auto 0 auto;
    text-align: center;
    color: white;
   
    background-color: #565C7E;
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    
}
.cont{
    margin: 20%; 
    text-align: center;

}

.cont > img{
    margin: 0 auto;
    max-width:5rem;
    padding-bottom: 1em ;
}

.im2{
    width: 100%;
    text-align: center;
}



/* من هون */
.skills_section{
    /* margin-top: -20%; */
    margin: 4% auto 0 auto;
    width: 80%;
    height: 80vh;
    padding: 0px 13%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0,0.19);
}
.skills_head{
    margin: 8% auto 0 auto;
    width: 80%;
    display: grid;
    place-items: center;
    text-align: center;
}
.skills_head h2{
    font-size: 30px;
}
.skills_head h2 span{
    color: #f8abbe;
}
.skills_main{
    margin: 10% auto 0 auto ;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(86, 92, 126, .50);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color:#f8abbe;
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 90%;
    animation: html 2s;
}

.skill_bar .bar .css{
    width: 85%;
}


.skill_bar .bar .Communis{
    width: 80%;
}

.skill_bar .bar .Boots{
    width: 75%;
}

.skill_bar .bar .Presnts{
    width: 70%;
} 


a{
    text-decoration: none;
}


.white{
    color: white;
}


.Conimg{
    background-color: #565C7E;
    height: 20vh;
    margin: 0 auto;
    display: grid;
    color: white;
    grid-template-columns:repeat(5 , 1fr); 
    grid-template-rows: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    justify-self:center;
  
}

.contac{
    margin: 0 auto;
    grid-column: 3/4;
    grid-row: 2/2;

}

.contex{
    grid-column: 2/5;
    grid-row: 3/3;
    align-items: center;
    justify-self:center;
    margin: 0 auto;

}

.cont{
    width: 50%;
   
}


.coppy{
    color: #f8abbe;
}


@media (min-width:576px) and (max-width: 768px){
   
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box; 
       }
       #show{
        margin-top: 2%;
       }
       #nameshow{
        padding-top: 30%;
        font-size: 150%;
        margin: 0 auto;
       }

       #job{
        font-size: 100%;

       }
       .headedu{
        font-size: 100%;
       }

       .ehi > span{
        font-size: 80% !important;
       }
    .orange{
        width: 25%;
    }

    .univers{
        width: 25%;
    }
       }


 @media (max-width: 766px){
    
    .expert{
        grid-template-columns: repeat(2,1fr);
    }
   

   
 }

@media (max-width: 576px){
    .expert{
        grid-template-columns: repeat(1,1fr);
    }
    .expert > article{
        text-align: center;
    }
    
    #show{

    }


}




        
    



